**/.dockerignore
**/.git
**/.gitignore
**/.vscode
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/.next
**/.env
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
